.sombraPersonalizada {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/***tabla de usuarios***/
.tablaUsuarios {
    background-color: white;
}

.tablaUsuarios th {
    border: 1px solid;
    font-size: 1rem;
    font-weight: 500;
}

.tablaUsuarios td {
    border: 1px solid;
    font-size: 1rem;
    text-align: center;
}

/**ocultar scrollbar****/
.scrollbar-oculta::-webkit-scrollbar {
    display: none;
}